<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nesciunt at corporis architecto reiciendis eaque eos perferendis! Possimus maiores quis consequuntur similique, minus unde expedita modi! Dolorum velit quis recusandae!</p>
<h2>A senha do usuário {{user.nome}} é {{user.senha}}</h2>
<h4>{{segredo}}</h4>

{{#each items}}
    <li>{{this}}</li>
{{/each}}