<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <h1>Texto</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nobis impedit molestias animi quod veniam totam voluptates recusandae inventore iusto deserunt temporibus dolores officia, nostrum doloremque commodi dolorum sit placeat.</p>
    <button><a href="#">Click Me</a></button>
</body>
</html>